node_modules
.next
.next-prod
.next-dev-*
.git
.gitignore
README.md
LICENSE
NOTICE
.env
.env.*
intelligent.config.yaml
intelligent.config.yml
intelligent.config.json
npm-debug.log
media
scripts
tsconfig.tsbuildinfo
*.tar
*.tar.*
.tmp-*.tar*
yarn-debug.log*
yarn-error.log*
